@import './_setting.scss';


.column {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100% - 10px);
  &:not(:first-child) {
    margin-left: 10px;
  }
  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }
  header {
    padding-left: 15px;
    height: $column-header-height;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  footer {
    padding-left: 10px;
    height: $column-footer-height;
    line-height: 36px;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul.card-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-bg-color, 15);
      border-right: 5px solid $list-bg-color;
    }
    
  }
}
