@import './_setting.scss';
$column-height: calc(#{$board-content-height} - 20px);

.column {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  margin-left: 10px;
  > * {
    background-color: $list-bg-color;
    color: $app-main-text-color;
    padding: 0 8px;
  }
  header {
    padding-left: 15px;
    height: $column-header-height;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  footer {
    padding-left: 10px;
    height: $column-footer-height;
    line-height: 36px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #888;
    .footer-actions {
      cursor: pointer;
      margin-left: 10px;
      &:hover {
        color: $app-main-text-color;
      }
      padding-bottom: 15px;
    }
  }
  .card-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-bg-color, 15);
      border-right: 5px solid $list-bg-color;
    }
    
  }
}

.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(5deg);
  font-weight: bold;
}

.card-ghost-drop{
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg);
  font-weight: bold;
}

.cards-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px;
}
