@import './_setting.scss';

li.card-item {
  background-color: white;
  padding: 10px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  img {
    display: block;
    width: calc(100% + 2 * 10px);
    margin: -10px 0 10px -10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}