@import './_setting.scss';

.board-content {
  display: flex;
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg;
    border-radius: 8px;
  }

  .add-new-column {
    width: 250px;
    max-width: 250px;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: white;
    margin: 0 10px;
    font-size: 14px;
    background-color: hsla(0, 0%, 100%, .24);
    border-radius: 4px;
    &:hover {
      background-color: hsla(0, 0%, 100%, .34);
    }
  }
  .create-new-column {
    width: 250px;
    max-width: 250px;
    line-height: 32px;
    padding: 4px 10px;
    background-color: $column-bg-color;
    margin: 0 10px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    input.input-create-new-column {
      margin: 5px 0;
      &:focus {
        border: 1px solid $input-border-color;
      }
    }
    span.cancel-create-new {
      margin: 10px;
      font-size: 16px;
      cursor: pointer;
      i {
        font-size: 20px;
        color: $alert-danger;
        &:hover {
          color: darken($alert-danger, 10);
        }
      }
    }
  }
}

.column-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px 45px 5px 5px;
}
