@import './_setting.scss';

body {
  margin: 0;
  font-family: 'Source sans pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.app-body {
  height: 100vh;
  // display: grid;
  overflow: hidden;
  // grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin-right: 3px;
  }
}