@import './_setting.scss';
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Source sans pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.app-body {
  height: 100vh;
  // display: grid;
  overflow: hidden;
  // grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin-right: 0 3px;
  }
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
  // box-shadow: inset 0 -1px 0 #ddd;
}
.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}